a div#AnimateContent div.player{
    border: 2px solid lightgrey;
    display: inline-block;
}
a .player:hover{
    box-shadow:  0 0 20px red;
}
a.playerMain div.playerPhoto{
    width: 300px;
}
a div.player{
    color: white;
    width: 600px;
    height: 400px;
    border-radius: 20px;
}
a{
    text-decoration: none;
}

/*a.playerMain{*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    order-radius: 15px;*/
/*}*/
